doctype html
html
  head  
    meta(charset='utf-8')
    title Demo
    link(rel='stylesheet', href='style.css', type='text/css')
    link(ref='stylesheet', href='https://fonts.googleapis.com/css?family=Roboto:300', type='text/css')
  body
    section.container
      .box
        h1 Hola pugdo!